body {
  background-color: #f5f5f5;
  font-family: "Arial", sans-serif;
  margin: 0;
}

.custom-navbar {
  background-color: #003973;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.custom-navbar .navbar-title > a {
  color: white !important;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
}

.custom-navbar .nav-links {
  display: flex;
  align-items: center;
}

.custom-navbar .nav-links a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.custom-navbar .nav-links a:hover,
.custom-navbar .nav-links a:active,
.custom-navbar .nav-links a.active {
  color: #c0f0c0;
}

/* router-outlet {
  padding: 20px;
} */
